<div class="footer">
   <div class="wrapper footer__wrapper">
      <div class="footer__info">
         <div class="info__item">О нас</div>
         <div class="info__item">Поддержка</div>
         <div class="info__item">Советы</div>
         <div class="info__item">Контакты</div>
         <div class="info__item">Правила оплаты</div>
      </div>
      <div class="footer__policy">Политика обработки персональных данных</div>
      <div class="footer__language">RU</div>
      <div class="footer__year">© Company 2021</div>
   </div>
</div>