.context-menu {
  display: flex;
  justify-content: space-between;
}
.context-menu__logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo {
}
.logo__image {
}
.logo__text {
  @include font();
  font-size: 22px;
}
.context-menu__login {
  display: flex;
  gap: 20px;
  align-items: center;
}
.login__text {
  @include font();
}
.login__button {
  @include font();
  padding: 11px 36px;
  border-radius: 500px;
  background-image: url("/img/main/reg.svg");
  background-color: #230E2A;
}

@media screen and (max-width: 992px) {
  .context-menu{
    max-width: 375px;
    flex-direction: column;
  }
}

